*{
    padding: 0;
    margin: 0;
    box-sizing: boder-box;
}
@font-face {
    font-family: 'Beyond';
    src: url(../access/font/beyond_the_mountains.otf) format('truetype'), url(../font/beyond_the_mountains.ttf) format('opentype');
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
#nav{
    display:inline-block;
    margin:0;
    padding:0;
}
#nav >li{
    display: inline-block;
}

.col-1p3{
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.col-cd{
    position: relative;
    min-width: 444px;
    width: 100%;
    height:300px;
}
.trending__container .fa-star{
    color:yellow !important;
}
.header__page--member.afterAdd::after{
    opacity: 1;
}


#header{
    background-color: rgb(40, 22, 57);
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    padding: 35px 0;
    transition: 0.5s;
}
.header__container{
    display: flex;
    margin:0 50px;
    height: 46px;
    align-items: center;

}
.header__logo{
    display: inline-block;
    width: 25%;
    text-align: center;
}
.header__logo a{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 46px;
    font-size: large;
    font-size: 30px;
    font-weight: 800;
}
.header__page{
    width: 60%;
    text-align: center;
}
.header__page--member{
    display:flex;
    margin:0 25px;
    height:100%;
    position: relative;
}
.header__page--member:hover::after{
    opacity: 1;
}
.header__page--member::after{
    position: absolute;
    content: '';
    top:30px;
    left: 0;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, rgb(255, 174, 0), rgb(174, 8, 174));
    opacity: 0;
    transition: 0.5s;
}
.header__page--member a{
    color: white;
    text-decoration: none;
    height: 100%;
}
.header__search{
    display: inline-block;
    width: 15%;
}
.header__search a{
    text-decoration: none;
    float:right;
}
.header__search .ti-search{
    font-size: 18px;
    font-weight: 800;
    color:white;
}

.header__menu{
    width: 0%;
    display: none;
    min-width: 75px;
}
.header__menu i{
    font-size:25px;
    float: right;
    color:white;
}
.header__menu i:hover{
    cursor: pointer;
}

#home {
    background-image: url("./images/background/iStock-1353245759.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#home{
    height: 100vh;
    width: 100%;
    align-items: center;
}
.home__slogan{
    text-align: center;
    color:whitesmoke;
    font-family: 'Beyond';
    position: absolute;
    top:45%;
    left: 50%;
    transform: translateX(-50%);
}
.home__slogan h1{
    font-size: 80px;
}
.home__slogan--name{
    margin-bottom: 40px;
}
.home__slogan--description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(2, 0, 0, 0.5);
}
#search{
    padding: 20px 0;
    background-image: linear-gradient(to right, rgb(140, 50, 179), rgb(0, 213, 255));
}
.search__container{
    padding: 20px 20px;

}
.search__container--name{
    color:white;
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
}

.col-3 input, .col-1 input, .col-4 select{
    height: 44px;
    padding:10px;
    width:100%;
    border: none;
    outline: none;
}




.search__container--button{
    text-align: center;
    margin-top:30px;
}
.search__container--button button:hover{
    background-color: rgb(199, 255, 67);
    color:black;
}
.search__container--button button{
    width: 150px;
    height: 45px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    background-color: rgb(55, 10, 97);
    color:white;
    font-weight: 800;
    transition: 0.5s;
}
.search__container .col-3, 
.search__container .col-4{
    min-width: 190px;
}

#us{
    text-align: center;
    background-image: url('./images/background/large-group-of-happy-friends-in-mountains-area-royalty-free-image-1653422631.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.us__container{
    padding: 70px 60px 70px 60px;
}
.us__slogan{
    position: relative;
    color: white;
    font-weight: 900;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(2, 0, 0, 0.5);
}
.us__description{
    position: relative;
    text-align: justify;
    font-weight: 500;
    color:white;
    text-shadow: 2px 2px 4px rgba(2, 0, 0, 0.5);
    min-width: 360px;
}
.us__description .col{
    margin-bottom:15px;
}
.us__description--third{
    position: relative;
    padding:0 60px;
    text-align: justify;
    font-weight: 500;
    color:white;
    text-shadow: 2px 2px 4px rgba(2, 0, 0, 0.5);
    width:45%;
    left:0;
    
}

.us__image--first img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.us__image--second img{
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.us__image--second button{
    border:none;
    padding:15px 20px;
    color: white;
    background-color: rgb(68, 23, 110);
    border-radius: 50px;
    font-weight: 700;
    transition: 0.5s;

}
.us__second--button{
    text-align: center;
    margin-top: 40px;
}
.us__second--button a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.us__image--second button:hover{
    background-color: aliceblue;
    color:blueviolet;
}
.us__second--button button:hover a{
    color:blueviolet;
}



#hometour{
    margin-top: 70px;
}
.hometour__header{
   text-align: center;
}

.hometour__header--slogan h1{
    font-size: 50px;
    font-weight: 700;
    color: rgb(52, 52, 114);
}
.hometour__header--description h4{
    font-size: 20px;
    font-weight: 300;
    margin:15px 0 90px 0;
}

.hometour__container{
    margin:50px 60px 0 60px;
    padding-bottom:70px;
}
.hometour__img{
    height: 400px;
}
.hometour__img img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}
.hometour__decription{
    position: relative;
    text-align: left;
}
.fa-star{
    display:inline-block;
    color:rgb(231, 193, 6);
}
.hometour__description--price{
    font-size:20px;
}
.hometour__description--city{
    font-weight: 700;
    font-size: 17px;
}
.hometour__description--location{
    font-size: 30px;
    font-weight: 900;
}

.hometour__description--read{
    text-decoration: none;
    font-size: 17px;
    color:rgb(55, 16, 92);
    text-transform: uppercase;
    transition: 0.5s;
    height: 40px;

}

.hometour__description--read:hover{
    cursor:pointer;
    background-color: blueviolet;
    color:white;
    height:40px;
}

.hometour__member{
    
    margin:40px 0px;
}
.hometour__member button{
    border:none;
    font-weight: 700;
    color:white;
    padding: 0px 5px;
    background-color: rgb(117, 181, 237);
    border-radius: 30px;
    transition: 0.5s;
}


#trending{
    background-color: rgb(244, 238, 238);
}
.trending__container{
    padding:70px 60px;
}
.trending__container--header{
    text-align: center;
}
.trending__header--slogan h1{
    font-weight: 700;
    color: rgb(52, 52, 114);
    font-size: 50px;
}
.trending__header--description h5{
    font-size: 20px;
    font-weight: 300;
    margin:15px 0 90px 0;
}

.trending__container--image{
    position:relative;
    margin:0px 60px;
    display:flex;
    justify-content: center;
    align-items: flex-start;
}
.trending__container--image .col{
    position:relative;
    min-width: 174px;
    height:150px;
    top:0;
}
.trending__image{
    display:inline-block;

    justify-content:center;
    margin:0 5px;
}
.trending__image img{
    display:inline-block;
    width: 150px;
    height: 113px;
    object-fit: cover;
    z-index: 0;
    margin:0;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
    transition: 0.5s;
}
.trending__image img:hover{
    cursor: pointer;
}
.trending__mobile--des{
    margin: 10px 0;
    align-content: center;
    display: none;
    transition: 0.5s;
}
.trending__mobile--des h4{
    text-align: center;
    font-weight: 800;
    font-size: 25px;
    color: rgb(87, 3, 139);
    justify-content: center;
    transition: 0.5s;
}
.trending__mobile--des button{
    width: 100%;
    height:50px;
    font-size: 25px;
    font-weight: 800;
    border-radius:20px;
    border: none;
    color:white;
    background-image: linear-gradient(to right, rgb(101, 205, 243),rgb(150, 150, 243));
    transition: 0.5s;
}
.trending__mobile--des button:hover{
    background-image: linear-gradient(to left, rgb(101, 205, 243),rgb(89, 89, 207));
}


.trending__show--container{
    margin-bottom: 20px;
}
.trending__image:nth-child(3) img{
    height:200px;
    width: 200px;
}

.trending__show--img{
    width: 100%;
    height:580px;
    transition:0.5s;
    
}
.trending__show--img img{
    width: 100%;
    height:700px;
    object-fit: cover;
    box-shadow: 0px 0px 30px rgba(49, 6, 135, 0.9);
}
@keyframes showcontent{
    from{
        opacity:0;
        left:10%;
        top:40%;
        filter: blur(33px);
    }
    to{
        opacity:1;
        left:10%;
        top:20%;
        filter: blur(0);
    }
}
@keyframes showcontentmobile{
    from{
        opacity:0;
        left:10%;
        top:40%;
        filter: blur(33px);
    }
    to{
        opacity:1;
        left:10%;
        top:5%;
        filter: blur(0);
    }
}


.trending__img--info{
    width: calc(100% - 24px);
    transition: 0.5s;
}

.trending__info{
    top:20%;
    left:10%;
    max-width: 250px;
    animation: showcontent 0.5s;
}
.trending__info h2{
    font-size: 35px;
    color:white;
    text-shadow: 2px 4px 15px black;
    font-weight: 800;
}
.trending__infor--des{
    margin:20px 0;
    color:white;
    font-size: 20px;
    text-shadow: 2px 4px 15px black;
}
.trending__infor--button button{
    border: none;
    border-radius: 10px;
    width: 100px;
    height:35px;
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s;
}
.trending__infor--button button:hover{
    width: 200px;
    background-color: yellow;
    height: 40px;
}





.review__container--header{
    text-align: center;
    padding: 70px 0;
}
.review__header--slogan h1{
    font-weight: 700;
    color: rgb(52, 52, 114);
    font-size: 50px;
}
.review__header--description h5{
    font-size: 20px;
    font-weight: 300;
    margin: 15px 0 20px 0;
}

.review__container{
    position:relative;
    background-image: url(./images/review/820-8209279_white-world-map-png-world-map-white-png.png);
    padding: 0 60px 70px 60px;
}

.review__container--body{
    position:relative;
}
.review__body{
    padding:0!important;
}
.review__body--image img{
    width: 100%;
    border-radius: 30px;
}
.review__body--comment{
    margin:30px 0px;
    width:95%;
}
.review__body--comment .fas{
    font-size:20px;
    color:rgb(114, 229, 0);
}
.review__body--comment h5{
    font-size: 20px;
    font-weight: 400;
}
.review__body--comment i{
    font-size: 40px;
}
.review__author{
    align-items: center;
}
.review__author--name{  
    font-size: 25px;
    margin:0;
    font-weight: 500;
}
.review__author--img{
    min-width: 80px;
}
.review__author--img img{
    width: 60px;
    border-radius: 50px;
}
.review__body--button{
    position:absolute;
    bottom:0;
    left:0;
}
.review__body--button button{
    padding:10px 19px;
    border-radius: 50px;
    transition: 0.5s;
}
.review__body--button button:hover{
    background-color: aquamarine;
}

.review__body--author{
    position:absolute;
    display: inline-block;
    width: 100%;
    white-space: normal;
    transition: 0.5s;
}
.review__body--author:nth-child(1)
{
    left:-100%;
}
.review__body--author:nth-child(2)
{
    left:0%; 
}
.review__body--author:nth-child(3)
{
    left:100%;
}

#contact{
    background-image: linear-gradient( rgb(219, 232, 243),white);
    background-size: cover;
}
.contact__container{
    padding: 70px 60px 70px 60px;
}
.contact__container--header{
    padding-bottom: 70px;
}
.contact__header--name{
    text-align: center;
}
.contact__header--name h1{
    font-weight: 700;
    color: rgb(52, 52, 114);
    font-size: 50px;
}
.contact__header--description h5{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.contact__container--information h3 i{
    margin-right: 20px;
}
.contact__container--information .row{
    position:relative;
    margin-bottom:30px;
}
.contact__container--information h3{
    color:rgb(105, 6, 147);
    font-weight: 800;
}

.contact__container--information i{
    font-size:20px;
    font-weight: 600;
}

.contact__container--table textarea{
    padding-left: 5px;
    width: 100%;
    outline:none;
    border:none;
    border-bottom: solid 2px white;
    resize: none;
    background: transparent;
    color: white;
}
.contact__container--table textarea::placeholder{
    color:white;
    opacity:0.5;
}
.contact__container--table input{
    border:none;
    height: 40px;
    padding-left: 5px;
    width: 100%;
    outline:none;
    border-bottom: solid 2px white;
    background: transparent;
    color:white;
}
.contact__container--table input::placeholder{
    color:white;
    opacity:0.5;
}
.contact__container--table .row{
    margin-bottom:30px;
}

.contact__table--button{
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(24, 123, 162);
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 50px;
    transition: 0.5s;
}
.contact__table--button:hover{
    background-color: aliceblue;
    color:blueviolet;
}
.contact__container--table{
    padding:30px;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(35, 7, 82), rgb(101, 24, 118));
}
.contact__container--table h5{
    color:white;
}


#footer{
    position: relative;
    background-color: white;
}
.footer__shape{
    position: absolute;
    top:0;
    left:0;
    background-image: url(./images/footer/shape8.png);
    width:100%;
    height:200px;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer__container{
    background-color: #17233e;
    padding:200px 60px 60px 60px;
}

.footer__container--web{
    color:white;
}
.footer__web--icon i{
    margin-right:7px;
    margin-bottom: 20px;
}
.post__item{
    color:white;
    min-width: 280px;
}
.post__item--class img{
    width: 72px;
    height: 72px;
}

.post__item--class{
    margin-bottom:20px;
}
.post__item--class a{
    text-decoration: none;
    color:white;
}
.post__item--class i{
    color:orange;
    font-size:15px;
}
.footer__pay--img{
    margin-bottom: 10px;
}
.footer__pay--img img{
    display: inline-block;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.footer__container--contact h5{
    color:white;
    margin-bottom: 20px;
}





#modal{
    position:fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:black;
    opacity: 0.5;
    z-index: 9 !important;;
}
.header--hide{
    position:fixed;
    top:0;
    right:-300px;
    width:300px;
    height:100%;
    z-index:10;
    display:none;
}
@keyframes HideHeader {
    from{
        right:0;
    }
    to{
        right:-300px;
    }
}
@keyframes OpenHeader {
    from{

    }
    to{
        right:0;
    }
}
.header__content--big{
    position:absolute;
    padding:40px 30px;
    width: 100%;
    float:right;
    height: 100%;
    right:0;
    background-image: linear-gradient(to right, rgb(92, 0, 158), rgb(47, 3, 123));
    opacity: 1!important;
    z-index:10;
}
.header__big--icon{
    position:absolute;
    right:30px;
    float:right;
    height:30px;
    width: 30px;
    color:white;

}
.header__big--icon i::before{
    display: block;
    font-weight: 900;
    height:30px;
    width: 30px;
    color:white;
    font-size: 30px;
}
.header__big--icon i:hover::before{
    color:red;
}
.header__content--big li{
    display: block !important;
    font-weight: 800;
    font-size:25px;
    margin-top: 50px;
    text-decoration: none;
    transition:0.5s;
}
.header__content--big .header__hide--member a{
    text-decoration: none;
    color:white;
    transition:0.5s;
}
.header__content--big .header__hide--member a:hover{
    color:orange;
}
.header__content--big .header__big--icon{
    text-decoration: none;
    color:white;
    transition:0.5a;
}
.header__content--big .header__big--icon:hover{
    cursor: pointer;
}
#scroll__top{
    position:fixed;
    bottom:50px;
    right:30px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: blueviolet;
    border-radius: 50%;
    z-index: 9;
}
#scroll__top a{
    color:white;
    text-decoration: none;
}
#scroll__top i{
    font-size: 25px;
    margin-top: 50%;
    transform: translateY(-50%);
}
#scroll__top:hover{
    background-color: rgb(8, 140, 173);
}





@media(min-width:1024px)
{

}
@media(min-width:740px) and (max-width:1023px)
{

    .review__body--button{
        display:none;
    }
    .review__body{
        min-height: 255px;
    }
    .trending__container--image{
        flex-wrap: wrap;
    }
    .header__menu{
        width: 10%;
        display: block;
    }
    .header__search{
        width: 65%;
    }
    .header__page{
        display: none;
    }
}
@media (max-width:800px)
{
    .review__body--button{
        display:none;
    }
    .review__body{
        min-height: 255px;
    }
    .review__body--image img{
        min-width:auto;
    }
    .trending__container--image{
        flex-wrap: wrap;
    }
    .header__menu{
        width: 10%;
        display: block;
    }
    .header__search{
        width: 65%;
    }
    .header__page{
        display: none;
    }
    .trending__container--image{
        margin:0;
    }
    .trending__info{
        top:5%;
        left:10%;
        animation:showcontentmobile 0.5s;
    }
    .trending__show--img{
        height: 300px;
    }
    .trending__show--img img{
        height:400px;
    }
    @media(max-width: 600px)
    {
        .trending__infor--des{
            display: none;
        }
        .trending__infor--button{
            margin-top: 30px;
        }
        .contact__table--button{
            width:70%;
            height:60px;
        }
        .us__description{
            min-width: 0px;
        }
        .hometour__img{
            height:auto;
        }
        .trending__show--img{
            display: none;
        }
        .trending__image{
            margin-bottom: 30px;
        }
        .trending__image:nth-child(3) img{
            width: 270px;
            height:270px;
        }
        #des-mobile3{
            display: block;
        }
        .contact__table--button{
            width:100%;
        }
    }
    .hometour__description--read{
        height:50px;
        width: 100%;
    }
    .hometour__description--read:hover{
        height:50px;
        width: 100%;
    }
    .trending__infor--button button{
        height: 50px;
        background-color: yellow;
    }
    .home__slogan{
        top:30%;
    }
    .header__search{
        display: none;
    }
    .header__menu{
        width: 75%;
    }
}
